<configuration  xmlns="http://ch.qos.logback/xml/ns/logback"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
                https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %class %line %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder>
            <pattern>%date %class %line %msg %n</pattern>
        </encoder>
        <file>jar.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>jar.%d{yyyy-MM-dd HH-mm}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
    </appender>

    <appender name="MyAppender" class="org.example.appender.MyAppender">
        <encoder>
            <pattern>%date %class %line %msg %n</pattern>
        </encoder>

    </appender>

    <root level="INFO"/>
    <logger name="org.example" level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.example.appender" level="DEBUG">
        <appender-ref ref="MyAppender"/>
    </logger>

</configuration>
